<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about_style.css">
    <title>After Game</title>
</head>
<body>
    <h1>Fin du jeu</h1>
    <p>Voici finit le jeu.</p>
    <a href="/">
        <button class="type-button">Recommencer une partie</button>
     </a>
</body>
</html>