<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class = "containerInfoUtilisateur">
        <div class = "donnees joueur"> Joueur : Unknown</div> <!---Il faut récuperer cette valeur dans la base de données -->
        <div class="donnees record"> Record : <%= contenu %> </div> <!--- Il faut récuperer cette valeur dans la base de données -->
        <div class = "donnees scoreUtilisateur" >Votre score : 0</div>
        <form name="formScore" action="http://localhost:8084/index" method="post" class="formulaireScore">
        </form>
    </div>
    <script type="text/javascript" src="js/game.js"> </script>
</body>
</html>