<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/resultat.css">

    <title>After Game</title>
</head>
<body>
    <div class="element">
        <h1>Fin du jeu</h1>
        <p>Vous avez finit le jeu.</p>
        <a href="/index">
            <button class="type-button"> Rejouer </button>
        </a>
        <button class="type-button button-reset"> Nouvelle Partie </button>
        <form name="formScore" action="http://localhost:8084/first" method="post" class="formulaireScore">
        </form>
    </div>
    <script type="text/javascript" src="js/resultat.js"> </script>
</body>
</html>