body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble{
    position: absolute;
    border-radius: 300px;
    background: rgba(0, 68, 255, 0.6);
    opacity: 1;
    animation: anim 7s forwards;
    filter: hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -500px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

.donnees {
    font-size: 3rem;
    text-align: left;
    color : rgba(46, 46, 46, 0.473);
}

.containerInfoUtilisateur {
    display: flex;
    flex-direction: column;
}